<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <1-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <! Bootstrap CSS -->
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity = "sha384-EVSTQN3/azprG1Anm300gpJLTm9Nao@Yz1ztcQTwFspd3yD65VohhpuuCOmL.ASjC"
        crossorigin="anonymous">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwWBCKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGMMXkWuk94WCrrws1k8yWNGmY1EduTA"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Index</title>
    </head>
<body>
<header class="row">
    <div class="col">
    <div th:replace="~{admin/fragments/header::header}"></div>
    </div>
</header>
<main class="container">
<section class="row mt-4">
    <div class="col mt-5 mb-5">
        <div layout:fragment="content"></div>
    </div>
</section>

</main>
<footer class="row">
    <div class="col">
        <div th:replace="~{admin/fragments/footer::footer}"></div>
    </div>
</footer>

<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFY1zcLABN1+NtUVF0sA7MsXsP1UyJoMp4YLEuNS+AP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>